player-connection-mode=Connect
player-connection-guid=3167678442
player-connection-debug=0
player-connection-project-name=DualDoger
player-connection-wait-timeout=-1
player-connection-ip=172.21.96.1:37100
player-connection-ip=192.168.1.7:37100
profiler-enable=1
wait-for-native-debugger=0
hdr-display-enabled=0
